<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9175ef">  <td>20/11/05 18:29:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.Check_validation()[pri:0, instance:datepickerNGPCK.NewTest@3c947bc5]">Check_validation</td> 
  <td>main@1229202732</td>   <td></td> </tr>
<tr bgcolor="9175ef">  <td>20/11/05 18:29:23</td>   <td>47</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:datepickerNGPCK.NewTest@3c947bc5]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1229202732</td>   <td></td> </tr>
<tr bgcolor="9175ef">  <td>20/11/05 18:29:06</td>   <td>-16828</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:datepickerNGPCK.NewTest@3c947bc5]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1229202732</td>   <td></td> </tr>
</table>
